.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}

td.course-name {
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}
